*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--theme-default-background) !important;
}

:root{
  --theme-light-header: rgba(26, 102, 223, 0.9);
  --theme-dark-header: #c6d4dd;
  --theme-default-header: var(--theme-light-header);

  --theme-light-background: white;
  --theme-dark-background: rgba(0, 0, 0, 0.95);
  --theme-default-background: var(--theme-light-background);

  --theme-light-chat__text:rgba(47, 47, 47, 0.95);
  --theme-dark-chat__text: #f2f2f2;
  --theme-default-chat__text: var(--theme-light-chat__text);
}